@use './variables' as *;


// screen breakpoints

@mixin tablet {
    @media screen and (min-width:$tablet-width) {
        
        @content;
    }
};

@mixin desktop {
    @media screen and (min-width:$desktop-width) {
        @content;
    }
}

///Mobile styling 


@mixin pageheaderMobile{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir Next Bold";
   
}


@mixin sectionheaderMobile{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir Next DEmi";
    
}


@mixin subheaderMobile {
    font-size: .875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Demi";
 ;
}



@mixin bodycopyMobile{
    font-size: .8125rem;
    line-height: 1.125rem;
    font-family: "Avenir Next Regular"
}

@mixin footercopyMobile {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-family: "Avenir Next Regular";

}

@mixin labelandbuttonsMobile {
    font-size: .625rem;
    line-height: 1.25rem;
    font-family: "Avenir Next Bold";
}



/// Desktop and Tablet styling

@mixin pageheaderDesktopTablet{
    font-size: 60px;
    line-height: 68px;
    font-family: "Avenir Next Bold";

}

@mixin sectionheaderDesktopTablet{
    font-size: 36px;
    line-height: 44px;
    font-family: "Avenir Next Demi";
    
}

@mixin subheaderDesktopTablet{
    font-size: 24px;
    line-height: 32px;
    font-family: "Avenir Next Demi";
    
}

@mixin bodycopyDesktopTablet{
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir Next Regular";
}

@mixin footercopyDesktopTablet{
    font-size: 14px;
    line-height: 20px;
    font-family: "Avenir Next Regular";

}

@mixin labelsandbuttonsDesktopTablet{
    font-size: 12px;
    line-height: 20px;
    font-family: "Avenir Next Bold";
    
}