@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
body {
  position: relative;
}

header {
  font-size: 1.5rem;
  line-height: 2rem;
}

.main-header {
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .main-header {
    padding: 1.875rem;
  }
}

@media screen and (min-width: 48rem) {
  .nav-section {
    display: flex;
    justify-content: flex-start;
  }
}

.nav-section-logo {
  display: flex;
  justify-content: center;
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .nav-section-logo {
    justify-content: flex-start;
  }
}

.nav-section-logo__image {
  width: 7.5rem;
  height: 1.25rem;
  background-position: center;
}
@media screen and (min-width: 48rem) {
  .nav-section-logo__image {
    margin: 1.25rem 0 0 1rem;
  }
}

.nav-list {
  display: flex;
  font-size: 0.875rem;
  justify-content: space-around;
  height: 1.875rem;
}
@media screen and (min-width: 48rem) {
  .nav-list {
    height: 5rem;
    font-size: 1.5rem;
    margin-left: 3.125rem;
    margin-top: 15px;
  }
}
@media screen and (min-width: 80.625rem) {
  .nav-list {
    margin-left: 4.375rem;
    height: 3.75rem;
  }
}

.nav-list a {
  color: #e1e1e1;
  text-decoration: none;
  font-family: "Avenir Next Regular";
}

.nav-list > ul {
  list-style: none;
  display: flex;
}

@media screen and (min-width: 48rem) {
  .nav-list__bio {
    height: 5.625rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .nav-list__bio {
    height: 4.375rem;
    margin-left: 1.875rem;
  }
}

.nav-list__shows:hover,
.nav-list__bio:hover {
  font-weight: 700;
  border-bottom: 0.0625rem solid #ffff;
}

@media screen and (min-width: 48rem) {
  .nav-list__shows {
    margin-left: 40px;
  }
}

.hero-section-image {
  width: 100%;
  height: 100%;
}

.hero-section-image__title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffff;
  position: absolute;
  top: 10rem;
  left: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .hero-section-image__title {
    font-family: "Avenir Next Demi";
    font-size: 3.75rem;
    line-height: 4.25rem;
    top: 25rem;
  }
}

.hero-section-image__flower-image {
  max-width: 100%;
  background-color: #323232;
  opacity: 0.5;
}

.about-section {
  margin-top: 1.5rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .about-section {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 80.625rem) {
  .about-section-container__subheading {
    margin-left: 67px;
  }
}

.about-section-container-info__quote {
  font-family: "Avenir Next Regular";
  font-weight: bold;
  margin: 1rem;
}
@media screen and (min-width: 48rem) {
  .about-section-container-info__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 6.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about-section-container-info__quote {
    margin: 0 12.5rem;
  }
}

.about-section-container-image {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .about-section-container-image {
    margin: 6.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about-section-container-image {
    margin: 8.75rem;
  }
}

@media screen and (min-width: 48rem) {
  .about-section-container__bio h3 {
    margin-left: 6.25rem;
  }
}

.about-section-container__paragraph {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .about-section-container__paragraph {
    font-size: 1.125rem;
    line-height: 2rem;
    text-align: justify;
    -webkit-columns: 12.625rem 2;
    margin: 5.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about-section-container__paragraph {
    -webkit-columns: 15.625rem 2;
    margin: 0 9.5rem;
  }
}

.about-section-container__title1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem;
}
@media screen and (min-width: 48rem) {
  .about-section-container__title1 {
    font-family: "Avenir Next Demi";
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.about-section-container__title2 {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .about-section-container__title2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.about-section-container-image__band-image {
  max-width: 100%;
}
@media screen and (min-width: 80.625rem) {
  .about-section-container-image__band-image {
    width: 90%;
  }
}

.photo-gallery-container__photo {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .photo-gallery-container__photo {
    width: 27%;
  }
}

.photo-gallery__title {
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 48rem) {
  .photo-gallery__title {
    font-size: 2.25rem;
    margin-left: 3.75rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .photo-gallery__title {
    margin-left: 9.25rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}

@media screen and (min-width: 48rem) {
  .photo-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 80.625rem) {
  .photo-gallery-container {
    display: flex;
    justify-self: center;
  }
}

footer {
  background-color: #323232;
  color: #ffff;
  padding: 2.25rem;
}

.footer-main-title {
  color: #ffff;
  position: relative;
  bottom: -0.625rem;
}
@media screen and (min-width: 48rem) {
  .footer-main-title {
    font-size: 0.875rem;
    display: flex;
    left: 1.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .footer-main-title {
    display: flex;
    left: 6.875rem;
  }
}

.footer-content {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer-content {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

footer span {
  font-weight: bold;
}

@media screen and (min-width: 48rem) {
  .footer-info {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 80.625rem) {
  .footer-info {
    justify-content: flex-start;
  }
}

.social-icons__get-in-touch {
  font-size: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .social-icons__get-in-touch {
    font-size: 2.1875rem;
    display: flex;
  }
}
@media screen and (min-width: 48rem) {
  .social-icons {
    display: flex;
  }
}

@media screen and (min-width: 48rem) {
  .social-icons-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 48rem) {
  .footer-info__Cam-Adams,
.footer-info__Pearl-Gregg,
.footer-info__Carson-Whyte {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 48rem) {
  .footer-info__Cam-Adams {
    position: relative;
    bottom: 2.5rem;
    margin-left: 20px;
  }
}

@media screen and (min-width: 48rem) {
  .footer-info__Pearl-Gregg {
    position: relative;
    bottom: -0.4375rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .footer-info__Pearl-Gregg {
    margin-left: 6.25rem;
  }
}

@media screen and (min-width: 48rem) {
  .footer-info__Carson-Whyte {
    position: relative;
    bottom: -1.875rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .footer-info__Carson-Whyte {
    margin-left: 6.25rem;
  }
}

.copyright {
  display: flex;
}
@media screen and (min-width: 48rem) {
  .copyright {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .copyright {
    margin-left: 6.25rem;
  }
}

.social-icons-images__facebook,
.social-icons-images__twitter {
  margin-left: 1.25rem;
}

.social-icons-images__instagram {
  margin-left: 0.3125rem;
}

.footer-logo {
  width: 7.5rem;
  height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .footer-logo {
    display: none;
  }
}

.footer-logo p {
  background: #323232;
}

.social-icons__logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .social-icons__logo {
    display: flex;
    width: 7.5rem;
    height: 1.25rem;
  }
}

@media screen and (min-width: 48rem) {
  .footer-info__media {
    position: relative;
    bottom: 1.25rem;
  }
}

.footer-logo-container {
  margin-top: 6.25rem;
}/*# sourceMappingURL=bio.css.map */