@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTProBold.ttf") format("ttf");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTProDemi.ttf") format("ttf");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro.ttf") format("ttf");
}
body {
  position: relative;
  font-family: "AvenirNextLTPro";
  overflow-x: hidden !important;
}

/* header section*/
header {
  font-size: 1.5rem;
  line-height: 2rem;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

/*Header*/
.header {
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .header {
    padding: 10px 6.25rem;
  }
}

@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    justify-content: flex-start;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  background-color: #323232;
}
.nav__logo-image {
  width: 7.5rem;
  height: 1.25rem;
  background-position: center;
}
@media screen and (min-width: 48rem) {
  .nav__logo-image {
    margin: 1.25rem 1rem;
  }
}
.nav__list {
  display: flex;
  font-size: 0.875rem;
  justify-content: space-around;
  height: 1.875rem;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    height: 5rem;
    font-size: 1.5rem;
    margin-left: 4.375rem;
    margin-top: 0.9375rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .nav__list {
    margin-left: 4.375rem;
    height: 3.75rem;
  }
}
.nav__list a {
  color: #e1e1e1;
  text-decoration: none;
  font-family: "AvenirNextLTPro";
}
.nav__shows:hover {
  color: #ffff;
  border-bottom: 3px solid #ffff;
}
@media screen and (min-width: 80.625rem) {
  .nav__shows:hover {
    height: 4.3125rem;
  }
}
@media screen and (min-width: 48rem) {
  .nav__shows {
    margin-left: 2.5rem;
  }
}
.nav__bio a {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.nav__bio:hover {
  color: #ffff;
  border-bottom: 3px solid #ffff;
}
@media screen and (min-width: 80.625rem) {
  .nav__bio:hover {
    height: 4.3125rem;
  }
}

.nav__bio {
  font-weight: bold;
  border-bottom: 3px solid #ffff;
}

/* hero section */
.hero__section {
  position: relative;
}
.hero__title {
  position: absolute;
  bottom: 8.5rem;
  z-index: 100;
  margin-left: 5.25rem;
  color: #ffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    bottom: 12.5rem;
    margin-left: 6.25rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }
}
@media screen and (min-width: 80.625rem) {
  .hero__title {
    bottom: 30rem;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #323232;
  opacity: 0.5;
}

/* about section */
@media screen and (min-width: 48rem) {
  .about {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }
}
.about__subheading {
  margin-left: 1.0625rem;
}
@media screen and (min-width: 48rem) {
  .about__subheading {
    margin-left: 0.3125rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__subheading {
    margin-left: 3.875rem;
  }
}
.about__info-quote {
  line-height: 1.375rem;
  margin-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__info-quote {
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__info-quote {
    margin-left: -2.5rem;
  }
}
.about__info-quote p {
  line-height: 22px;
  font-weight: bold;
  margin: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__info-quote p {
    font-weight: bold;
    margin: 0 6.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__info-quote p {
    margin: 0 12.5rem;
  }
}
.about__image {
  margin: 0 1.875rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .about__image {
    margin: 3.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__image {
    margin: 5.75rem;
  }
}
@media screen and (min-width: 48rem) {
  .about__bio h3 {
    margin-left: 6.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .about__row {
    display: flex;
  }
}
.about__first-column {
  line-height: 1.375rem;
  margin: 0 1.875rem;
}
@media screen and (min-width: 48rem) {
  .about__first-column {
    flex: 50%;
    margin-left: 6.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__first-column {
    margin-left: 9.5rem;
  }
}
.about__second-column {
  line-height: 1.375rem;
  margin: 0.625rem 1.875rem;
}
@media screen and (min-width: 48rem) {
  .about__second-column {
    flex: 50%;
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__second-column {
    margin-right: 9.5rem;
  }
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 1rem 2rem;
}
@media screen and (min-width: 48rem) {
  .about__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-left: 3.125rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__title {
    margin: 1rem 7.5rem;
  }
}
.about__bees-knees-title {
  margin-left: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .about__bees-knees-title {
    line-height: 2rem;
  }
}
.about__band-image {
  max-width: 100%;
}
@media screen and (min-width: 48rem) {
  .about__band-image {
    width: 100%;
    height: 30rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__band-image {
    width: 90%;
    height: 40rem;
  }
}
@media screen and (min-width: 48rem) {
  .about__container-info {
    margin-left: -3.125rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .about__container-info {
    margin-left: 1.25rem;
  }
}

/* gallery section*/
.gallery {
  background-color: #fafafa;
}
.gallery__photo {
  margin: 1.3rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .gallery__photo {
    width: 27%;
  }
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 5rem;
  margin-left: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-left: 3.875rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .gallery__title {
    margin-left: 7.1875rem;
  }
}
@media screen and (min-width: 48rem) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 80.625rem) {
  .gallery__container {
    display: flex;
    justify-self: center;
  }
}
.gallery__photo {
  -webkit-filter: grayscale(100%);
}
.gallery__photo:hover {
  -webkit-filter: hue-rotate(50deg);
  -webkit-filter: grayscale(0%);
}

/* conversation section */
.conversation {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.conversation__form * {
  box-sizing: border-box;
}
.conversation__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .conversation__title {
    margin-left: 2.625rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }
}
@media screen and (min-width: 80.625rem) {
  .conversation__title {
    margin-left: 3.75rem;
  }
}
.conversation__input-container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .conversation__input-container {
    justify-content: center;
  }
}
@media screen and (min-width: 80.625rem) {
  .conversation__input-container {
    width: 80%;
    justify-content: center;
    margin-left: 11.25rem;
  }
}
.conversation__label-heading {
  display: flex;
  color: #afafaf;
}
.conversation__avatar {
  height: 2.25rem;
  width: 2.25rem;
  background-size: cover;
  border-radius: 50%;
  background-image: url("../assets/Images/Mohan-muruge.jpg");
  position: relative;
  bottom: -4.375rem;
  right: -0.625rem;
}
@media screen and (min-width: 48rem) {
  .conversation__avatar {
    height: 3rem;
    width: 3rem;
    left: 5.375rem;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80.625rem) {
  .conversation__avatar {
    margin-left: 19.375rem;
  }
}
.conversation__comment {
  margin: 0.625rem 0.625rem;
}
.conversation__comment-container {
  margin-left: 0.625rem;
  width: 170%;
}
@media screen and (min-width: 48rem) {
  .conversation__comment-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -1.25rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .conversation__comment-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 10.0625rem;
  }
}
.conversation__label-name {
  position: relative;
  top: -1.875rem;
  right: -3.125rem;
}
.conversation__label-comment {
  position: relative;
  top: 1.5rem;
  right: -3.75rem;
}
@media screen and (min-width: 48rem) {
  .conversation__label-comment {
    right: -8.75rem;
  }
}
.conversation__avatar-img {
  position: relative;
  right: 2.5rem;
  top: 3.75rem;
}
@media screen and (min-width: 48rem) {
  .conversation__avatar-img {
    margin-left: -1.25rem;
  }
}
.conversation__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}
@media screen and (min-width: 48rem) {
  .conversation__btn {
    display: flex;
    margin-left: -1.875rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .conversation__btn {
    margin-left: 11.875rem;
  }
}

.comment__list {
  list-style: none;
}

.comment-container img {
  height: 2.25rem;
  width: 2.25rem;
  background-color: #e1e1e1;
  border-radius: 50%;
}
@media screen and (min-width: 48rem) {
  .comment-container img {
    height: 3rem;
    width: 3rem;
  }
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::placeholder {
  color: #000000;
}

input {
  width: 83%;
  border: 0.0625rem solid #e1e1e1;
  height: 4.25rem;
}
input:invalid {
  border-color: #c00000;
}
input:active {
  border-color: #323232;
}
input:focus {
  outline: none;
}
@media screen and (min-width: 48rem) {
  input {
    width: 70%;
  }
}
@media screen and (min-width: 80.625rem) {
  input {
    width: 60%;
  }
}

textarea {
  margin: 3rem 3.125rem;
  width: 80vw;
  height: 10vh;
  border: 0.0625rem solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
  textarea {
    width: 70%;
  }
}
@media screen and (min-width: 80.625rem) {
  textarea {
    width: 60%;
  }
}

button {
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.25rem;
  width: 70vw;
  color: #ffff;
  background-color: #323232;
  height: 3.5rem;
  margin: 0.625rem;
}
@media screen and (min-width: 48rem) {
  button {
    font-size: 1.5rem;
    width: 20%;
    margin-left: 40.625rem;
  }
}
@media screen and (min-width: 80.625rem) {
  button {
    font-size: 1.5rem;
    width: 12%;
    margin-left: 20rem;
  }
}

button:hover {
  background-color: #000000;
}

.divider {
  border-top: 0.0625rem solid #e1e1e1;
  margin-bottom: -0.625rem;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment-section {
  display: flex;
  flex-direction: column;
}
.comment__date {
  display: flex;
  justify-content: flex-end;
  color: #afafaf;
}
.comment__name {
  position: relative;
  bottom: 1.5rem;
  left: 0.625rem;
}
@media screen and (min-width: 48rem) {
  .comment__name {
    left: 0.625rem;
  }
}
.comment__item {
  margin-top: -1.875rem;
  margin-left: 0.625re;
}
.comment-container {
  margin: 1.25rem 0.625rem;
}
@media screen and (min-width: 48rem) {
  .comment-container {
    margin: 6.375rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .comment-container {
    margin: 3.125rem 25.875rem;
  }
}
.comment__deleteBtn-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
@media screen and (min-width: 48rem) {
  .comment__deleteBtn-container {
    margin-right: -40px;
  }
}
@media screen and (min-width: 80.625rem) {
  .comment__deleteBtn-container {
    margin-right: -170px;
  }
}
.comment__deleteBtn {
  font-size: 16px;
}
@media screen and (min-width: 80.625rem) {
  .comment__deleteBtn {
    width: 10vw;
  }
}

.divide {
  border: 1px solid #e1e1e1;
}

label {
  display: block;
  margin: 0.0625rem;
  padding: 0.0625rem;
}

footer {
  background-color: #323232;
  color: #ffff;
  padding: 1.25rem;
}
@media screen and (min-width: 48rem) {
  footer {
    padding-left: 0%;
  }
}
@media screen and (min-width: 80.625rem) {
  footer {
    padding-left: 100px;
  }
}

footer span {
  font-weight: bold;
}

.footer {
  font-size: 0.8125rem;
  font-weight: 400;
  margin-left: 1rem;
  margin-right: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media screen and (min-width: 48rem) {
  .contact {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact {
    justify-content: flex-start;
  }
}
.contact__get-in-touch {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .contact__get-in-touch {
    font-size: 2.1875rem;
    display: flex;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Cam-Adams, .contact__Pearl-Gregg, .contact__Carson-Whyte {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Cam-Adams {
    position: relative;
    bottom: 2.5rem;
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Pearl-Gregg {
    position: relative;
    bottom: -0.4375rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__Pearl-Gregg {
    margin-left: 6.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Carson-Whyte {
    position: relative;
    bottom: -1.875rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__Carson-Whyte {
    margin-left: 6.25rem;
  }
}
.contact__facebook, .contact__twitter {
  margin-left: 1.25rem;
}
.contact__instagram {
  margin-left: 0.3125rem;
}
@media screen and (min-width: 48rem) {
  .contact__mobile-socialIcons {
    display: none;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__mobile-socialIcons {
    display: none;
  }
}
.contact__media {
  display: none;
}
@media screen and (min-width: 48rem) {
  .contact__media {
    display: flex;
    position: relative;
    bottom: 1.25rem;
  }
}
.contact__email a {
  text-decoration: none;
  color: #ffff;
}

@media screen and (min-width: 48rem) {
  .social {
    display: flex;
  }
}
@media screen and (min-width: 48rem) {
  .social__bandsite {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.social__bandsite-logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .social__bandsite-logo {
    display: flex;
    width: 7.5rem;
    height: 1.25rem;
  }
}

.mobile {
  width: 7.5rem;
  height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .mobile {
    display: none;
  }
}
.mobile__logo p {
  background: #323232;
}
.mobile__container {
  margin-top: 3.25rem;
}

@media screen and (min-width: 48rem) {
  .copyright {
    margin-left: 5rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 4.0625rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .copyright {
    margin-left: 6.25rem;
  }
}/*# sourceMappingURL=bio.css.map */