@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
@media screen and (min-width: 48rem) {
  body {
    font-size: 0.875rem;
  }
}
header {
  font-size: 24px;
  line-height: 32px;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (min-width: 80.625rem) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-size: 1.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .logo {
    display: flex;
    justify-content: flex-start;
  }
}

.logo__image {
  width: 12.5rem;
  height: 6.25rem;
  background-position: center;
}

.nav-list {
  background-color: #323232;
  display: flex;
  justify-content: space-evenly;
}

.nav-list a {
  color: #ffff;
  text-decoration: none;
}
@media screen and (min-width: 48rem) {
  .nav-list a {
    display: flex;
  }
}

.nav-list > ul {
  list-style: none;
  display: flex;
}

.hero-section__image {
  width: 100%;
  height: 100%;
}

.hero__title {
  font-size: 2.25rem;
  color: #ffff;
  position: relative;
  top: -14rem;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    font-family: "Avenir Next Demi";
  }
}
.hero__flower-image {
  max-width: 100%;
}

.about-section {
  margin-top: -3.5rem;
  margin-left: 1rem;
  font-size: 13px;
  line-height: 1.125rem;
}

.info__quote {
  font-family: "Avenir Next Regular";
  font-weight: bold;
}

@media screen and (min-width: 48rem) {
  .about__paragraph {
    font-size: 14px;
    line-height: 32px;
    font-family: "Avenir Next Regular";
    text-align: justify;
    -webkit-columns: 15.625rem 2;
  }
}

@media screen and (min-width: 48rem) {
  .about__title {
    font-family: "Avenir Next Demi";
  }
}

.band__image {
  max-width: 100%;
}

.photo {
  margin: 16px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .photo {
    width: 33.33%;
  }
}

.photo-title {
  font-family: "Avenir Next Demi";
}

@media screen and (min-width: 48rem) {
  .photo-gallery--container {
    display: flex;
    flex-wrap: wrap;
  }
}

footer {
  background-color: #323232;
  color: #ffff;
}

.footer-main-title {
  color: #ffff;
  position: relative;
  bottom: -10px;
}
@media screen and (min-width: 48rem) {
  .footer-main-title {
    display: flex;
  }
}

.footer-content {
  font-family: "Avenir Next Regular";
  font-size: 13px;
  line-height: 18px;
  margin-left: 16px;
}
footer span {
  font-weight: bold;
}

@media screen and (min-width: 48rem) {
  .footer--info {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 48rem) {
  .cam-adams, .Pearl-Gregg {
    display: flex;
    flex-direction: column;
  }
}

.facebook, .twitter {
  margin-left: 30px;
}

.instagram {
  margin-left: 5px;
}

.footer-logo {
  width: 12.5rem;
  height: 6.25rem;
  background-position: left;
}

.footer-logo p {
  background: #323232;
}/*# sourceMappingURL=bio.css.map */