@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTProBold.ttf") format("ttf");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTProDemi.ttf") format("ttf");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro.ttf") format("ttf");
}
body {
  font-family: "AvenirNextLTPro";
  position: relative;
}

/* header section */
header {
  font-size: 1.5rem;
  line-height: 2rem;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

/*Header*/
.header {
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .header {
    padding: 10px 6.25rem;
  }
}

@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    justify-content: flex-start;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  background-color: #323232;
}
.nav__logo-image {
  width: 7.5rem;
  height: 1.25rem;
  background-position: center;
}
@media screen and (min-width: 48rem) {
  .nav__logo-image {
    margin: 1.25rem 1rem;
  }
}
.nav__list {
  display: flex;
  font-size: 0.875rem;
  justify-content: space-around;
  height: 1.875rem;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    height: 5rem;
    font-size: 1.5rem;
    margin-left: 4.375rem;
    margin-top: 0.9375rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .nav__list {
    margin-left: 4.375rem;
    height: 3.75rem;
  }
}
.nav__list a {
  color: #e1e1e1;
  text-decoration: none;
  font-family: "AvenirNextLTPro";
}
.nav__shows:hover {
  color: #ffff;
  border-bottom: 3px solid #ffff;
}
@media screen and (min-width: 80.625rem) {
  .nav__shows:hover {
    height: 4.3125rem;
  }
}
@media screen and (min-width: 48rem) {
  .nav__shows {
    margin-left: 2.5rem;
  }
}
.nav__bio a {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.nav__bio:hover {
  color: #ffff;
  border-bottom: 3px solid #ffff;
}
@media screen and (min-width: 80.625rem) {
  .nav__bio:hover {
    height: 4.3125rem;
  }
}

.nav__shows {
  font-weight: bold;
  border-bottom: 3px solid #ffff;
}

/*Hero section*/
.hero__container {
  position: relative;
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  position: absolute;
  z-index: 100;
  margin-left: 5.25rem;
  color: #ffff;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    bottom: 20rem;
    margin-left: 6.25rem;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media screen and (min-width: 80.625rem) {
  .hero__title {
    bottom: 50rem;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #323232;
  opacity: 0.5;
}
.hero__soundcloud-player {
  position: absolute;
  top: 13.125rem;
  left: 0.625rem;
  z-index: 100;
  width: 90vw;
}
@media screen and (min-width: 48rem) {
  .hero__soundcloud-player {
    top: 43.75rem;
    width: 60vw;
  }
}
@media screen and (min-width: 80.625rem) {
  .hero__soundcloud-player {
    top: 56.25rem;
  }
}

/* Show section */
.show__details {
  display: flex;
}
@media screen and (min-width: 48rem) {
  .show__details {
    flex-direction: column;
  }
}
.show__list {
  list-style: none;
}
@media screen and (min-width: 48rem) {
  .show__list {
    display: flex;
    flex-direction: column;
  }
}
.show__list-tickets:hover {
  background-color: #fafafa;
}
.show__list-tickets:active {
  background-color: #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .show__list-tickets {
    display: flex;
    -moz-column-gap: 4.375rem;
         column-gap: 4.375rem;
    justify-content: space-around;
    border-bottom: 1px solid orange;
  }
}
@media screen and (min-width: 80.625rem) {
  .show__list-tickets {
    -moz-column-gap: 15.625rem;
         column-gap: 15.625rem;
  }
}
@media screen and (min-width: 48rem) {
  .show__items {
    display: flex;
    justify-content: space-around;
  }
}
.show__items h3 {
  font-size: 0.875rem;
}
@media screen and (min-width: 48rem) {
  .show__items h3 {
    margin-left: 0;
    display: none;
  }
}
.show__date {
  font-weight: bold;
}
.show__sub-headings {
  display: none;
}
@media screen and (min-width: 48rem) {
  .show__sub-headings {
    color: #afafaf;
    display: flex;
    -moz-column-gap: 100px;
         column-gap: 100px;
    justify-content: space-evenly;
    position: relative;
    left: -12.5rem;
  }
}
.show__date-mobile {
  margin-left: 16.875rem;
}
.show__venue-mobile {
  margin-left: -0.625rem;
}
.show__location-mobile {
  margin-right: 9.375rem;
}
@media screen and (min-width: 80.625rem) {
  .show__title {
    font-size: 1.5rem;
    margin-left: 9.375rem;
    margin-top: 4.375rem;
  }
}
.show__info-heading {
  color: #afafaf;
}
.show__buy-button {
  width: 70vw;
  font-size: 1.25rem;
  padding: 1.5rem 1.125rem;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #323232;
  color: #ffff;
}
.show__buy-button:hover {
  background-color: #000000;
}
@media screen and (min-width: 48rem) {
  .show__buy-button {
    font-size: 1.25rem;
    width: 12.5rem;
    padding: 1.5rem 1.125rem;
    margin: 0.625rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .show__buy-button {
    font-size: 1.25rem;
    width: 12.5rem;
  }
}

.responsive-iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* footer section */
footer {
  background-color: #323232;
  color: #ffff;
  padding: 1.25rem;
}
@media screen and (min-width: 48rem) {
  footer {
    padding-left: 0%;
  }
}
@media screen and (min-width: 80.625rem) {
  footer {
    padding-left: 100px;
  }
}

footer span {
  font-weight: bold;
}

.footer {
  font-size: 0.8125rem;
  font-weight: 400;
  margin-left: 1rem;
  margin-right: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media screen and (min-width: 48rem) {
  .contact {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact {
    justify-content: flex-start;
  }
}
.contact__get-in-touch {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .contact__get-in-touch {
    font-size: 2.1875rem;
    display: flex;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Cam-Adams, .contact__Pearl-Gregg, .contact__Carson-Whyte {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Cam-Adams {
    position: relative;
    bottom: 2.5rem;
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Pearl-Gregg {
    position: relative;
    bottom: -0.4375rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__Pearl-Gregg {
    margin-left: 6.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Carson-Whyte {
    position: relative;
    bottom: -1.875rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__Carson-Whyte {
    margin-left: 6.25rem;
  }
}
.contact__facebook, .contact__twitter {
  margin-left: 1.25rem;
}
.contact__instagram {
  margin-left: 0.3125rem;
}
@media screen and (min-width: 48rem) {
  .contact__mobile-socialIcons {
    display: none;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__mobile-socialIcons {
    display: none;
  }
}
.contact__media {
  display: none;
}
@media screen and (min-width: 48rem) {
  .contact__media {
    display: flex;
    position: relative;
    bottom: 1.25rem;
  }
}
.contact__email a {
  text-decoration: none;
  color: #ffff;
}

@media screen and (min-width: 48rem) {
  .social {
    display: flex;
  }
}
@media screen and (min-width: 48rem) {
  .social__bandsite {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.social__bandsite-logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .social__bandsite-logo {
    display: flex;
    width: 7.5rem;
    height: 1.25rem;
  }
}

.mobile {
  width: 7.5rem;
  height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .mobile {
    display: none;
  }
}
.mobile__logo p {
  background: #323232;
}
.mobile__container {
  margin-top: 3.25rem;
}

@media screen and (min-width: 48rem) {
  .copyright {
    margin-left: 5rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 4.0625rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .copyright {
    margin-left: 6.25rem;
  }
}

.active {
  background-color: #e1e1e1;
}/*# sourceMappingURL=shows.css.map */