//font styles
@use "./partials/mixin" as *;
@use "./partials/variables" as *;
@use "./partials/header" as *;
@use "./partials/footer" as *;

body {
  font-family: $font-style;
  position: relative;
}

/* header section */
@include header;
.nav__shows {
  font-weight: bold;
  border-bottom: 3px solid #ffff;
}

/*Hero section*/
.hero {
  &__container {
    position: relative;
  }

  &__title {
    @include pageheaderMobile;
    position: absolute;
    z-index: 100;
    margin-left: 5.25rem;
    color: $primary-text-color;
    @include tablet {
      bottom: 20rem;
      margin-left: 6.25rem;
      @include pageheaderDesktopTablet;
    }
    @include desktop {
      bottom: 50rem;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #323232;
    opacity: 0.5;
  }
  &__soundcloud-player {
    position: absolute;
    top: 13.125rem;
    left: .625rem;
    z-index: 100;
    width: 90vw;
    @include tablet {
      top: 43.75rem;
      width: 60vw;
    }
    @include desktop {
      top: 56.25rem;
    }
  }
}

/* Show section */

.show {
  
  &__details {
    display: flex;
    @include tablet {
      flex-direction: column;
      
    }
    @include desktop {
    }
  }
  &__list {
    list-style: none;
    @include tablet {
      display: flex;
      flex-direction: column;
  
    }
  
  }
  &__list-tickets{
  
  &:hover{
  
  background-color: $alabasta;
  }
  &:active{
    background-color: $mercury;
  }
  @include tablet {
    display: flex;
    column-gap: 4.375rem;
    justify-content: space-around;
    border-bottom: 1px solid orange;
  }
  @include desktop{
    column-gap: 15.625rem;
  }
  }


  &__items{
    @include tablet{
      display: flex;
      justify-content: space-around;
    }
  }

  &__items h3 {
    font-size: 0.875rem;
    @include tablet {
      margin-left: 0;
      display: none;
    }
  }

  &__date {
    font-weight: bold;
  }
  &__sub-headings {
    display: none;
    @include tablet {
      color: $silver;
      display: flex;
      column-gap: 100px;
      justify-content: space-evenly;
      position: relative;
      left: -12.5rem;
    }
    @include desktop{
     
    }
  }

  &__date-mobile {
    margin-left: 16.875rem;
  }
  &__venue-mobile {
    margin-left: -0.625rem;
  }
  &__location-mobile {
    margin-right: 9.375rem;
  }
  &__title {
    @include desktop {
      font-size: 1.5rem;
      margin-left: 9.375rem;
      margin-top: 4.375rem;
    }
  }
  &__info-heading{
    color: $silver;
  }

&__buy-button{
  width: 70vw;
  font-size: 1.25rem;
  padding: 1.5rem 1.125rem;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: $bandsite-black;
  color: #ffff;

  &:hover{
    background-color: #000000;
  }
  @include tablet {
    font-size: 1.25rem;
    width: 12.5rem;
    padding: 1.5rem 1.125rem;
    margin: 0.625rem;
  }
  @include desktop {
    font-size: 1.25rem;
    width: 12.5rem;
  }
}

}


.responsive-iframe{
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* footer section */
@include footer;

.show__date{
  @include tablet{

  }

}



