@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
body {
  font-family: "Avenir Next Regular";
  position: relative;
}

header {
  font-size: 1.5rem;
  line-height: 2rem;
}

.header {
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .header {
    padding: 10px 6.25rem;
  }
}

@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    justify-content: flex-start;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  background-color: #323232;
}
.nav__logo-image {
  width: 7.5rem;
  height: 1.25rem;
  background-position: center;
}
@media screen and (min-width: 48rem) {
  .nav__logo-image {
    margin: 1.25rem 1rem;
  }
}
.nav__list {
  display: flex;
  font-size: 0.875rem;
  justify-content: space-around;
  height: 1.875rem;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    height: 5rem;
    font-size: 1.5rem;
    margin-left: 4.375rem;
    margin-top: 0.9375rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .nav__list {
    margin-left: 4.375rem;
    height: 3.75rem;
  }
}
.nav__list a {
  color: #e1e1e1;
  text-decoration: none;
}
@media screen and (min-width: 48rem) {
  .nav__bio {
    height: 5.625rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .nav__bio {
    height: 4.375rem;
    margin-left: 1.875rem;
  }
}
@media screen and (min-width: 48rem) {
  .nav__shows:hover, .nav__bio:hover {
    height: 10px;
    color: #ffff;
    border-bottom: 1px solid #ffff;
  }
}
@media screen and (min-width: 80.625rem) {
  .nav__shows:hover, .nav__bio:hover {
    height: 5.3125rem;
  }
}
@media screen and (min-width: 48rem) {
  .nav__shows {
    margin-left: 2.5rem;
  }
}

.hero__container {
  position: relative;
}
.hero__title {
  position: absolute;
  z-index: 100;
  margin-left: 5.25rem;
  color: #ffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    bottom: 20rem;
    margin-left: 6.25rem;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media screen and (min-width: 80.625rem) {
  .hero__title {
    bottom: 60rem;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #323232;
  opacity: 0.5;
}
.hero__soundcloud-player {
  position: absolute;
  top: 210px;
  left: 40px;
  z-index: 100;
  width: 70%;
}
@media screen and (min-width: 48rem) {
  .hero__soundcloud-player {
    top: 700px;
    width: 60%;
  }
}
.show__details {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .show__details {
    margin-left: 140px;
  }
}
@media screen and (min-width: 80.625rem) {
  .show__details {
    margin-left: 420px;
  }
}
@media screen and (min-width: 48rem) {
  .show__items ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
}
@media screen and (min-width: 48rem) {
  .show__items li {
    flex-wrap: wrap;
    list-style: none;
    flex: 0 0 25%;
  }
}
.show__items h3 {
  margin-left: -40px;
}
@media screen and (min-width: 48rem) {
  .show__items h3 {
    margin-left: 0;
    display: none;
  }
}
.show__date {
  font-weight: bold;
}
@media screen and (min-width: 80.625rem) {
  .show__date {
    margin-left: 1px;
  }
}
.show__titles {
  display: none;
}
@media screen and (min-width: 48rem) {
  .show__titles {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #afafaf;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: -200px;
  }
}
.show__divider {
  border: 1px solid #e1e1e1;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .show__divider {
    width: 100%;
  }
}
.show__date-title {
  margin-left: 270px;
}
.show__venue-title {
  margin-left: -10px;
}
.show__location-title {
  margin-right: 150px;
}
@media screen and (min-width: 80.625rem) {
  .show__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-left: 150px;
    margin-top: 70px;
  }
}

li {
  list-style: none;
  margin-left: -40px;
}
@media screen and (min-width: 48rem) {
  li {
    margin-top: 1.875rem;
    margin-left: -30px;
  }
}

.show h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #afafaf;
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2.5rem;
}
@media screen and (min-width: 48rem) {
  .buy {
    margin-left: 0.625rem;
  }
}

button {
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  width: 18.75rem;
  color: #ffff;
  background-color: #323232;
  height: 2.5rem;
  margin: 0.625rem;
  padding: 1rem;
  font-size: 1rem;
}
@media screen and (min-width: 48rem) {
  button {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-size: 1.25rem;
    width: 12.5rem;
    padding: 1.5rem 1.125rem;
  }
}
@media screen and (min-width: 80.625rem) {
  button {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-size: 1.25rem;
    width: 12.5rem;
  }
}

button:hover {
  background-color: #000000;
}

footer {
  background-color: #323232;
  color: #ffff;
  padding: 2.25rem;
}
@media screen and (min-width: 48rem) {
  footer {
    padding-left: 0%;
  }
}
@media screen and (min-width: 80.625rem) {
  footer {
    padding-left: 100px;
  }
}

footer span {
  font-weight: bold;
}

.footer {
  font-size: 0.8125rem;
  font-weight: 400;
  margin-left: 1rem;
  margin-right: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media screen and (min-width: 48rem) {
  .contact {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 48rem) {
  .contact__get-in-touch {
    font-size: 2.1875rem;
    display: flex;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Cam-Adams, .contact__Pearl-Gregg, .contact__Carson-Whyte {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Cam-Adams {
    position: relative;
    bottom: 2.5rem;
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Pearl-Gregg {
    position: relative;
    bottom: -0.4375rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__Pearl-Gregg {
    margin-left: 6.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__Carson-Whyte {
    position: relative;
    bottom: -1.875rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__Carson-Whyte {
    margin-left: 6.25rem;
  }
}
.contact__facebook, .contact__twitter {
  margin-left: 1.25rem;
}
.contact__instagram {
  margin-left: 0.3125rem;
}
@media screen and (min-width: 48rem) {
  .contact__mobile-socialIcons {
    display: none;
  }
}
@media screen and (min-width: 80.625rem) {
  .contact__mobile-socialIcons {
    display: none;
  }
}
.contact__media {
  display: none;
}
@media screen and (min-width: 48rem) {
  .contact__media {
    display: flex;
    position: relative;
    bottom: 1.25rem;
  }
}
.contact__email a {
  text-decoration: none;
  color: #ffff;
}

@media screen and (min-width: 48rem) {
  .social {
    display: flex;
  }
}
@media screen and (min-width: 48rem) {
  .social__bandsite {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.social__bandsite-logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .social__bandsite-logo {
    display: flex;
    width: 7.5rem;
    height: 1.25rem;
  }
}

.mobile {
  width: 7.5rem;
  height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .mobile {
    display: none;
  }
}
.mobile__logo p {
  background: #323232;
}
.mobile__container {
  margin-top: 3.25rem;
}

@media screen and (min-width: 48rem) {
  .copyright {
    margin-left: 5rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 4.0625rem;
  }
}
@media screen and (min-width: 80.625rem) {
  .copyright {
    margin-left: 6.25rem;
  }
}/*# sourceMappingURL=shows.css.map */