//font styles
@use "./partials/mixin" as *;
@use "./partials/variables" as *;
@use "./partials/header" as *;
@use "./partials/footer" as *;

body {
  font-family: $font-style;
  position: relative;
}

/* header section */
@include header;
.nav__shows {
  font-weight: bold;
  border-bottom: 3px solid #ffff;
}

/*Hero section*/
.hero {
  &__container {
    position: relative;
  }
&__title-paragraph{
  @include pageheaderMobile;
  position: absolute;
  z-index: 100;
  margin-left: 2.25rem;
  bottom: 17rem;
  color: $primary-text-color;
  @include tablet {
    bottom: 30rem;
    margin-left: 6.25rem;
    @include sectionheaderDesktopTablet;
  }
  @include desktop {
    bottom:60rem;
  }
}

  &__title {
    @include pageheaderMobile;
    position: absolute;
    z-index: 100;
    margin-left: 2.25rem;
    bottom: 12rem;
    color: $primary-text-color;
    @include tablet {
      bottom: 30rem;
      margin-left: 6.25rem;
      @include pageheaderDesktopTablet;
    }
    @include desktop {
      bottom: 48rem;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #323232;
    opacity: 0.5;
  }
  &__soundcloud-player iframe{
    position: absolute;
    top: 15.125rem;
    left: .625rem;
    z-index: 100;
   
    @include tablet {
      width: 31.25rem;
      top: 43.75rem;
    
    }
    @include desktop {
      width: 37.5rem;
      height: 200px;
      margin-top: -25rem;
      margin-left: 42.5rem;
      top: 56.25rem;
    }
  }

  &__soundcloud-player{
    display: flex;

  }
}


/* Show section */

.show {
  
  &__details {
    display: flex;
    @include tablet {
      flex-direction: column;
      
    }
    @include desktop {
    }
  }
  &__list {
    list-style: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  
    }
  
  }
  &__list-tickets{
  
  &:hover{
  
  background-color: $alabasta;
  }
  &:active{
    background-color: $mercury;
  }
  @include tablet {
    display: flex;
    column-gap: .625rem;
    justify-content: space-between;
    border-bottom: 1px solid orange;
  }
  @include desktop{
    column-gap:7.625rem;
    margin-left: 18.5rem;
  }
  }
h2{
  @include tablet{
    @include sectionheaderDesktopTablet;
  }
  @include desktop{
    @include sectionheaderDesktopTablet;
  }
}

  &__items{
    @include tablet{
      display: flex;
      justify-content: space-around;
    }
    
  }

  &__items h3 {
    font-size: 0.875rem;
    @include tablet {
      margin-left: 0;
      display: none;
    }
  }

  &__date {
    font-weight: bold;
    @include tablet{
      width: 25%;
      @include desktop{

  
      }
    }
  }
  &__venue{
    @include tablet{
      width: 25%;
    }
    @include desktop{
     
    }
  }
&__location{
  @include tablet{
    width: 25%;
  }
}

  &__sub-headings {
    display: none;
    @include tablet {
      color: $silver;
      display: flex;
      column-gap: 1.25rem;
      justify-content: space-evenly;
      position: relative;
      left: -10.5rem;
    }
    @include desktop{
      left: -9.5rem;
    }
  }

  &__date-mobile {
    margin-left: 16.875rem;
  }
  &__venue-mobile {
    margin-left: -0.625rem;
  }
  &__location-mobile {
    margin-right: 9.375rem;
  }
  &__title {
    @include desktop {
      font-size: 1.5rem;
      margin-left: 9.375rem;
      margin-top: 4.375rem;
    }
  }
  &__info-heading{
    color: $silver;
  }

&__buy-button{
  width: 60vw;
  font-size: 1.25rem;
  padding: 1.5rem 1.125rem;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: $bandsite-black;
  color: #ffff;

  &:hover{
    background-color: #000000;
  }
  @include tablet {
    width: 30vw;
    font-size: 1.25rem;
    padding: 0.625rem 2.125rem;
    margin: 0.625rem;
  }
  @include desktop {
    font-size: 1.25rem;
    width: 30vw;
  }
}

}


.responsive-iframe{
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* footer section */
@include footer;

.show__date{
  @include tablet{

  }

}


.active {
  background-color: $mercury;
 
}

.copyright{
  @include tablet{
    margin-left: 7.1875rem;
  }
  @include desktop{
    margin-left: .9375rem;
  }
}



